*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #757575;
  margin: 0px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  min-width: 320px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section-title {
  margin: 0;
  padding-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    padding-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0;
  padding-top: 60px;
  padding-bottom: 34px;
}

@media screen and (min-width: 768px) {
  .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 94px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .buttons {
    padding-bottom: 50px;
  }
}

.buttons__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  margin: 0 4px;
  cursor: pointer;
  /* outline: none; */
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__btn:hover, .buttons__btn:focus, .buttons__btn:active {
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding: 0px 15px;
  }
}

.nav__logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav__logo {
    margin: 24px 93px 24px 0;
  }
}

.nav__logo--black {
  color: #000;
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.nav-list__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: #2196f3;
}

.nav-list__link--current {
  color: #2196f3;
  position: relative;
}

.nav-list__link--current::after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  display: block;
  background-color: #2196f3;
  border-radius: 2px;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 480px) {
  .footer__nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 480px) {
  .footer__adress {
    margin-bottom: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer__adress {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 0;
  }
}

.footer__socials {
  padding: 0;
}

.footer__social-link {
  background: rgba(255, 255, 255, 0.1);
}

.footer__social-icon {
  fill: #fff;
}

.footer__title {
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .join {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.address__map {
  display: inline-block;
  color: #fff;
  padding-bottom: 9px;
}

.address__mail,
.address__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__mail {
  display: inherit;
  padding-bottom: 9px;
}

.footer__logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    margin: 0 0 20 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

.nav__logo--white {
  color: #fff;
}

/* Subscribtion */
.subscribtion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1199px) {
  .subscribtion {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribtion__form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .subscribtion__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribtion__input {
  width: 358px;
  height: 100%;
  padding: 15px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  -webkit-text-decoration: #fff;
          text-decoration: #fff;
}

.subscribtion__input:focus {
  color: #afb1b8;
}

.subscribtion__input::-webkit-input-placeholder {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribtion__input:-ms-input-placeholder {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribtion__input::-ms-input-placeholder {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribtion__input::placeholder {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribtion__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  /* outline: none; */
  border-radius: 4px;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribtion__button:hover, .subscribtion__button:focus, .subscribtion__button:active {
  background-color: #188ce8;
}

.subscribtion__button--icon {
  margin-left: 10px;
}

.contacts {
  display: none;
  color: var(--font-color-secondary);
}

@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__address:hover, .contacts__address:focus, .contacts__address:active {
  color: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__address:hover .contacts__icon,
.contacts__address:focus .contacts__icon,
.contacts__address:active .contacts__icon {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contacts__item:nth-child(2) {
    margin-left: 30px;
  }
}

.hero-section {
  text-align: center;
  max-width: 1600px;
  max-height: 600px;
  background-color: #2f303a;
  padding: 200px 0;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mobile.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-mobile@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 481px) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-tablet.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet.jpg");
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-tablet@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-desktop.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop.jpg");
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-desktop@2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop@2x.jpg");
  }
}

.hero {
  margin: 0;
  padding: 0;
}

.hero__title {
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  /* outline: none; */
  border-radius: 4px;
  padding: 10px 32px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus, .hero__button:active {
  background-color: #188ce8;
}

.benefits-section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .benefits-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits-list {
  display: block;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .benefits-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 4);
        flex-basis: calc((100% - 60px) / 4);
  }
}

.benefits-list__title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .benefits-list__title {
    text-align: left;
  }
}

.benefits-list__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
}

.benefits-list__icon {
  background-color: #f5f4fa;
}

.team-section {
  padding: 60px 0;
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -15px;
  }
}

.team__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item {
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-top: 15px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 4);
        flex-basis: calc((100% - 60px) / 4);
  }
}

.team__member {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #212121;
}

.team__position {
  padding-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  color: #757575;
}

.team-thumb {
  height: 460px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .team-thumb {
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team-thumb {
    height: 260px;
  }
}

.team__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .socials {
    padding-bottom: 30px;
  }
}

.socials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: inherit;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus, .socials__link:active {
  background-color: #2196f3;
  cursor: pointer;
}

.socials__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon,
.socials__link:active .socials__icon {
  fill: #fff;
}

.customers-section {
  padding-top: 94px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .customers-section {
    padding-bottom: 94px;
  }
}

.customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -15px;
}

.customer__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  margin-top: 15px;
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .customer__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customer__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 6);
        flex-basis: calc((100% - 120px) / 6);
  }
}

.customer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__link:hover, .customer__link:focus, .customer__link:active {
  border-color: #2196f3;
}

.customer__icon {
  width: 50%;
  height: 50%;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__link:hover .customer__icon,
.customer__link:focus .customer__icon,
.customer__link:active .customer__icon {
  fill: #2196f3;
  cursor: pointer;
}

.about {
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .about {
    display: none;
  }
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-item {
  position: relative;
}

.about-item__spacer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 450px;
  max-height: 609px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal__content {
  padding: 40px;
}

.button-close {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 8px;
  border-radius: 50%;
  /* outline: none; */
  cursor: pointer;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.button-close__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .button-close__icon,
.button-close:focus .button-close__icon,
.button-close:active .button-close__icon {
  fill: #2196f3;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 12px;
  text-align: center;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
}

.form__label {
  margin-bottom: 4px;
}

.form__input {
  padding: 11px 12px 11px 42px;
}

.form__input,
.form__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus,
.form__comment:focus {
  border-color: #2196f3;
}

.form__comment {
  padding: 12px 16px;
  resize: none;
}

.form__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  position: absolute;
  bottom: 12px;
  left: 15px;
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.policy__label {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.policy__checkbox {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy__icon {
  position: relative;
  margin-right: 7px;
  fill: #fff;
  border: 2px solid black;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__checkbox:checked + .policy__icon {
  background-color: #2196f3;
  background-origin: border-box;
  border-color: transparent;
}

.policy__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: underline;
  padding-left: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 55px;
  margin: 0 125px 40px 125px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal__button {
    margin: 0 164px 40px 164px;
  }
}

.modal__button:hover, .modal__button:focus, .modal__button:active {
  background-color: #188ce8;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196f3;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 480px;
  height: 796px;
  padding: 32px;
  background-color: #fff;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.close__icon--mobile {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
}

.link--current {
  color: #2196f3;
}

.mobile-nav__item .link {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.link__mobile--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.link__mobile--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.mobile-social__item {
  margin-right: 20px;
  position: relative;
}

.mobile-social__item--line:after {
  content: '';
  position: absolute;
  top: 10px;
  right: -21px;
  width: 22px;
  height: 0px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-social__link:hover,
.mobile-social__link:focus {
  text-decoration: underline;
}

.card-set {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set {
    margin-bottom: 94px;
  }
}

.card-set__item {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .card-set__item {
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .card-set__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-top: 15px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.card-set__item:hover, .card-set__item:focus, .card-set__item:active {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__tumb {
  height: 294px;
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__content {
  padding: 24px 20px;
  border: 1px solid #eeeeee;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  color: #212121;
  padding-bottom: 4px;
}

.card__text {
  font-size: 16px;
  line-height: 1.9;
}

.card__description {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px 63px 24px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .card__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */