.benefits-section {
  padding: 60px 0;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits-list {
  display: block;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.benefits-list__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 60px) / 4);
  }
}

.benefits-list__title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: $titles-color;
  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.benefits-list__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.benefits-list__icon {
  min-width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $bg-gray;
}

// .text {
//   font-size: 16px;
//   line-height: 1.2;
//   color: $text-color;
// }
