body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: $white;
  color: $text-color;
  margin: 0px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  //   max-width: $desktop;
  min-width: 320px;

  @media screen and (min-width: $mobile) {
    max-width: 480px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 768px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1200px;
  }
}

// Sections

// section {
//   //   padding-bottom: 94px;
// }
.section-title {
  margin: 0;
  padding-bottom: 30px;
  //   display: flex;
  //   justify-content: center;
  font-size: 28px;
  line-height: 1.17;
  color: $titles-color;
  text-align: center;

  @media screen and (min-width: $desktop) {
    padding-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

// Visually Hidden

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// List

.list {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0;
}
