// .container--footer {
//   @media screen and (min-width: $tablet) {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-around;
//   }

//   @media screen and (min-width: $desktop) {
//     display: flex;
//     align-items: baseline;
//   }
// }
.footer {
  background-color: $footerbackground;
  padding: 60px 0;

  @media screen and (min-width: $mobile) {
  }
  @media screen and (min-width: $mobile) {
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
  }

  @media screen and (min-width: $desktop) {
  }
}

.footer__nav {
  display: flex;
  //   flex-wrap: wrap;

  @media screen and (min-width: $mobile) {
    align-items: center;
    flex-direction: column;
  }
}

.footer__adress {
  display: flex;

  @media screen and (min-width: $mobile) {
    margin-bottom: 60px;
    align-items: center;
    flex-direction: column;
  }

  @media screen and (min-width: $desktop) {
    align-items: baseline;
    margin-bottom: 0;
  }
}

.footer__socials {
  padding: 0;
}

.footer__social-icon {
  fill: $white;
}

.footer__title {
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $white;
}

.join {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    align-items: flex-start;
  }
}

.address__map {
  display: inline-block;
  color: $white;
  padding-bottom: 9px;
}

.address__mail,
.address__tel {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $adress-transparency-color;

  transition: color $time $cubic;
}

.address__mail {
  display: inherit;
  padding-bottom: 9px;
}

.footer__logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: $accent-color;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin: 0 0 20 0;
  }

  @media screen and (min-width: $desktop) {
    align-self: start;
  }
}

.nav__logo--white {
  color: $white;
}

/* Subscribtion */

.subscribtion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (max-width: 1199px) {
    align-items: center;
    width: 100%;
  }
}

.subscribtion__form {
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }
}

.subscribtion__input {
  width: 358px;
  height: 100%;
  padding: 15px 16px;
  margin-bottom: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  text-decoration: $white;

  &:focus {
    color: $icons-gray;
  }

  &::placeholder {
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.25;
    color: $adress-transparency-color;
  }
}

.subscribtion__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: $accent-color;
  color: $white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;

  /* outline: none; */
  border-radius: 4px;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  transition: background-color $time $cubic;

  &:hover,
  &:focus,
  &:active {
    background-color: #188ce8;
  }
}

.subscribtion__button--icon {
  margin-left: 10px;
}
