// .container--header {
//   display: flex;
//   justify-content: space-between;

//   padding: 10px 15px;

//   @media screen and (min-width: $tablet) {
//     & {
//       padding: 0px 15px;
//     }
//   }
// }
.header__container {
  display: flex;

  @media screen and (min-width: $mobile) {
    //  min-height: 60px;
  }

  @media screen and (min-width: $tablet) {
    min-height: 80px;
  }
}

.nav__logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: $accent-color;

  margin: 24px 93px 24px 0;

  &--black {
    color: $black;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav {
  //   display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-list__item {
  //   display: inline-flex;
  align-items: center;
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-list {
  margin: 0;
  padding: 0;
}

.nav-list__link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: $titles-color;

  transition: color $time $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav-list__link--current {
  color: $accent-color;

  &::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    display: block;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
