.card-set {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1 * $grid-gap;
    margin-left: -1 * $grid-gap;
  }
}

.card-set__item {
  @media screen and (max-width: 767px) {
    margin: 15px;
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 60px) / 2);
    margin-top: $grid-gap;
    margin-left: $grid-gap;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 120px) / 3);
  }

  transition: box-shadow $time $cubic;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card__tumb {
  height: 294px;
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__content {
  padding: 24px 20px;
  border: 1px solid #eeeeee;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  color: $titles-color;
  padding-bottom: 4px;
}

.card__text {
  font-size: 16px;
  line-height: 1.9;
}

.card__description {
  display: inline-block;
  box-sizing: border-box;
  content: '';
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px 63px 24px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: $white;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform $time $cubic, opacity $time $cubic;

  .card:hover & {
    transform: translateY(0);
    opacity: 1;
  }
}
