.team-section {
  padding: 60px 0;
  background-color: $bg-gray;
}

.team {
  //   padding-top: 94px;
}

.team__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1 * $grid-gap;
    margin-left: -1 * $grid-gap;
  }
}

.team__item {
  @media screen and (max-width: 767px) {
    margin: 15px;
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 30px) / 2);
    margin-top: $grid-gap;
    margin-left: $grid-gap;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 60px) / 4);
  }

  background-color: $white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__member {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: $titles-color;
}

.team__position {
  padding-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  color: $text-color;
}

.team-thumb {
  height: 460px;
  overflow: hidden;

  @media screen and (min-width: $tablet) {
    height: 374px;
  }

  @media screen and (min-width: $desktop) {
    height: 260px;
  }
}

.team__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
