.section-title {
  margin: 0;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  font-size: 36px;
  line-height: 1.2;
  color: $titles-color;
}

.about-item {
  position: relative;
    
  &__spacer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    color: $white;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
