.team-section {
  background-color: $bg-gray;
}

.team {
  padding-top: 94px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team__item {
  background-color: $white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__member {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: $titles-color;
}

.team__position {
  padding-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  color: $text-color;
}