.contacts {
  display: none;

  color: var(--font-color-secondary);

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.contacts__address {
  //   display: flex;
  //   align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: $text-color;

  transition: color $time $cubic;

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: $text-color;

  transition: fill $time $cubic;

  .contacts__address:hover &,
  .contacts__address:focus &,
  .contacts__address:active & {
    fill: $accent-color;
  }
}

.contacts__item:nth-child(2) {
  @media screen and (min-width: $desktop) {
    margin-left: 30px;
  }
}
