.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  transition: fill $time $cubic;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

@media (min-width: $tablet) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 480px;
  height: 796px;
  padding: 32px;
  background-color: $white;
  z-index: 999;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transform: translateX(100%);
  transition: transform $time ease-in-out;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.close__icon--mobile {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  padding: 10px;
  color: $black;
  text-decoration: none;

  &--current {
    color: $accent-color;
  }
}

.mobile-nav__item .link {
  display: block;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.link__mobile--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: $accent-color;
}

.link__mobile--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: $text-color;
}

.mobile-social {
  display: flex;

  margin-top: 64px;
}

.mobile-social__item {
  margin-right: 20px;

  position: relative;
}

.mobile-social__item--line:after {
  content: '';
  position: absolute;
  top: 10px;
  right: -21px;

  width: 22px;
  height: 0px;

  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: $accent-color;
}

.mobile-social__link:hover,
.mobile-social__link:focus {
  text-decoration: underline;
}
