.socials {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  //   width: 206px;
  //   height: 44px;
  //   padding: 0 122px 24px 122px;

  @media screen and (min-width: $desktop) {
    padding-bottom: 30px;
  }
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: inherit;

  transition: background-color $time $cubic;

  &:hover,
  &:focus,
  &:active {
    background-color: $accent-color;
    cursor: pointer;
  }
}

.socials__icon {
  fill: $icons-gray;
  transition: fill $time $cubic;

  .socials__link:hover &,
  .socials__link:focus &,
  .socials__link:active & {
    fill: $white;
  }
}
